/* Add CSS Styling */

.odd {
    background-color: #dd7a7a;
    font-family: 'Verdana', 'DevaVu Sans', sans-serif;
}

#two {
    color: rgb(18, 54, 204);
    font-size: 36px;
}

.three {
    font-size: 24px;
}

#four {
    background-color: #90cc81;
    font-size: 24px;
    font-weight: bold;
}