.one {
    background-color: #000000;
    color: rgb(255, 255, 255)
}


.two {
    background-color: #ffea00;
}

.button {
    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}